footer.footer.gray
    .container-wrapper
        .wrapper
            .block-logo-footer
                a(href="#").logo(style="background-image:url('img/logo.png')")
            .wrapper-txt
                p Рекламная игра «Играй со вкусом». Срок проведения рекламной игры: 15.06.2017 — 15.09.2017. Подробности правил рекламной игры нсмотрите <a href="#"> по ссылке </a>. Организатор Частное предприятие «Квартал Вкуса», УНП 190791154. Свидетельство о регистрации №3031 от 09 июня 2017 г., выдано Министерством антимонопольного регулирования и торговли РБ. Территория проведения: торговые объекты сети «Квартал Вкуса», находящиеся на территории Республики Беларусь.
                p © 2017, Квартал Вкуса