header.header
    .container-wrapper
        a(href="#").logo.header-logo(style="background-image:url('img/logo.png')")
        nav.menu
            ul
                li
                    a(href="#gifts").link-anchor-menu Призы
                li
                    a(href="news.html") новости
                li
                    a(href="#map").link-anchor-menu карта магазинов
                li
                    a(href="#") правила участия
        a(href="registrashion-chek.html").btn-link-green Зарегистрировать чек
