header.header
    .container-wrapper
        a(href="#").logo.header-logo(style="background-image:url('img/logo.png')")
        nav.menu
            ul
                li
                    a(href="news.html") новости
                li
                    a(href="#map").link-anchor-menu карта магазинов
                li
                    a(href="#map") Правила
                li
                    a(href="#map") Акция
        a(href="registrashion-chek.html#tab-2").btn-link-green Вход
        a(href="registrashion-chek.html#tab-1").btn-link-green Регистрация
