section.container.first
    .container-wrapper
        .container-big-txt
            .container-big-txt-1 Играй
            .container-big-txt-2 co
            .container-big-txt-3 вкусом!
        .container-period Срок проведения: с 1 ноября по 15 января
        a(href='registrashion-chek.html').btn-red Зарегистрироваться
        .container-big-gifts
            .container-big-gifts_dop-info
                .icon-img
                .container-big-gifts_dop-info_txt <b>А также 40 подарочных сертификатов</b> <br> в ювелирный салон
                a(href="#gifts").link-gifts.link-anchor-menu Все призы
        .container-conditions
            .container-conditions_punct
                .conditions_punct
                    .conditions_punct-img(style="background-image:url('img/punct1.png')")
                    .conditions_punct-txt Соверши покупку<br> от 12 рублей
                    .conditions_punct-txt-dop кроме спиртных напитков и табачных изделий

                .conditions_punct
                    .conditions_punct-img(style="background-image:url('img/punct2.png')")
                    .conditions_punct-txt Зарегистрируй<br> чек и сохрани<br> его до конца игры

                .conditions_punct
                    .conditions_punct-img(style="background-image:url('img/punct3.png')")
                    .conditions_punct-txt Участвуй в розыгрыше призов и денежных сертификатов