section.container.red
    .container-wrapper
        .wrapper
            .container-partners
                .container-partners_title Партнеры игры
                .slick-container-partners
                    .slick-slide
                        img(src='img/partner1.jpg' alt='')
                    .slick-slide
                        img(src='img/partner2.jpg' alt='')
                    .slick-slide
                        img(src='img/partner1.jpg' alt='')
                    .slick-slide
                        img(src='img/partner2.jpg' alt='')
                    .slick-slide
                        img(src='img/partner1.jpg' alt='')
                    .slick-slide
                        img(src='img/partner2.jpg' alt='')
                    .slick-slide
                        img(src='img/partner1.jpg' alt='')
                    .slick-slide
                        img(src='img/partner2.jpg' alt='')
                    .slick-slide
                        img(src='img/partner1.jpg' alt='')
                    .slick-slide
                        img(src='img/partner2.jpg' alt='')
                    .slick-slide
                        img(src='img/partner1.jpg' alt='')
                    .slick-slide
                        img(src='img/partner2.jpg' alt='')
                    .slick-slide
                        img(src='img/partner1.jpg' alt='')
                    .slick-slide
                        img(src='img/partner2.jpg' alt='')
                    .slick-slide
                        img(src='img/partner1.jpg' alt='')
                    .slick-slide
                        img(src='img/partner2.jpg' alt='')

    .container-wrapper
        .container-gifts
            .container-gifts_title#gifts Призы для счастливчиков
            .slick-container-gifts
                .slick-slide
                    .block-gifts.red-b
                        .block-img(style="background-image:url('img/gift1.png')")
                        .block-txt <b>Автомобиль</b> <br> Reno Sundero Stepway
                .slick-slide
                    .block-gifts.red-b
                        .block-img(style="background-image:url('img/gift2.png')")
                        .block-txt <b>Путевка в АОЭ</b> <br> на двоих
                .slick-slide
                    .block-gifts.white-b
                        .block-img(style="background-image:url('img/gift3.png')")
                        .block-txt <b>Холодильник</b> <br> Samsung ME83KRS-2/BW
                .slick-slide
                    .block-gifts.white-b
                        .block-img(style="background-image:url('img/gift4.png')")
                        .block-txt <b>Микроволновая печь</b> <br> Samsung ME83KRS-2/BW
                .slick-slide
                    .block-gifts.red-b
                        .block-img(style="background-image:url('img/gift1.png')")
                        .block-txt <b>Автомобиль</b> <br> Reno Sundero Stepway
                .slick-slide
                    .block-gifts.red-b
                        .block-img(style="background-image:url('img/gift2.png')")
                        .block-txt <b>Путевка в АОЭ</b> <br> на двоих