section.container.first
	.container-wrapper
		.promo-slider.js-promo-slider
			.promo-slider-item
				.promo-slider-item-img
					img(src="img/promo/1.png", alt="")
				.promo-slider-item-content
					.title.h1 Собираем команду
					.promo-slider-item-text
						.subtitle.redtext Учавствуй 
							br
							|в розыгрыше призов
						p Срок проведения: с 9 ноября по 22 января
				.promo-slider-item-cards
					img(src="img/promo/Card.png", alt="")
			.promo-slider-item
				.promo-slider-item-img
					img(src="img/promo/2.png", alt="")
				.promo-slider-item-content
					.title.h1 Собираем команду2
					.promo-slider-item-text
						.subtitle.redtext Учавствуй 
							br
							|в розыгрыше призов2 dfgdfsg sgfsdg dgfsg dfg
						p Срок проведения: с 9 ноября по 22 января
				.promo-slider-item-cards
					img(src="img/promo/Card.png", alt="")
	