extends _layout

block content
    .container-main
        section.container
            .container-wrapper.row
                .wrapper
                    .title Личный кабинет

                    .container-tabs
                        .container-tab-btn
                            .tabs-link.current-t(data-tab="tab-1")
                                span Мои карты
                            .tabs-link(data-tab="tab-2")
                                span Мои промо-коды
                            .tabs-link(data-tab="tab-3")
                                span Личные данные
                        #tab-1.container-content.tabs-content.current-t
                            .wrapper-form
                                form.js-form
                                    .wrapper-block-inputs.line-btn
                                        .wrapper-block-inputs_title Номера карточек
                                        .wrapper-block-inputs_info-txt
                                            p На одного пользователя допускается регистрация не более двух карт за все время проведения рекламной игры.

                                        ol.block-list-card
                                            li 0230503
                                            li 0260503
                                    .wrapper-block-inputs
                                        .wrapper-block-inputs_title Добавить карту
                                        .container-add
                                            .block-add
                                                .block-input-label
                                                    label.label Номер карты
                                                    a(href="javascript:;" data-fancybox data-src="#info-card").link-popup Что это такое?
                                                    input(type="text" data-validation="custom" data-validation-regexp="^[0-9 ]+$" data-validation-error-msg="Заполните поле").input-box

                                        .btn-block-add Внести еще одну карту

                                        .wrapper-block-inputs_info-txt
                                            p Появились вопросы - свяжитесь с нашей службой поддержки: <br> Телефоны горячей линии (с 8.00 до 17.00):
                                                br
                                                a(href='callto:+375297471099') +375 29 747 10 99
                                                br
                                                a(href='callto:+375297474112') +375 29 747 41 12

                                            p Контактный e-mail:
                                                br
                                                a(href='mailto:info@promo-kv.by') info@promo-kv.by

                                        .box-btn-form
                                            button.btn-form Добавить
                            // Modal Window
                            .wrapper-form.response(style='display: none;')
                                .wrapper-form
                                    .wrapper-block-inputs
                                        .wrapper-block-inputs_title Спасибо за обращение!
                                        .modal-container_txt
                                            p Ваше сообщение успешно отправлено.

                        #tab-2.container-content.tabs-content
                            .wrapper-form
                                form.js-form
                                    .wrapper-block-inputs
                                        .wrapper-block-inputs_title Ваши промо-коды
                                        .wrapper-block-inputs_info-txt
                                            p Мы проверяем каждый Ваш чек на соответствия правилам рекламной игры. Если у вас есть сомнения по поводу достоверности данных о количестве присвоенных промо-кодов, обращайтесь в нашу службу поддержки: <br> Телефоны горячей линии (с 8.00 до 17.00):
                                                br
                                                a(href='callto:+375297471099') +375 29 747 10 99
                                                br
                                                a(href='callto:+375297474112') +375 29 747 41 12

                                            p Контактный e-mail:
                                                br
                                                a(href='mailto:info@promo-kv.by') info@promo-kv.by
                                        .snipet-table
                                            .container-table-check
                                                .table-check_head
                                                    .table-check_head-block Промо-код
                                                    .table-check_head-block Дата
                                                    .table-check_head-block Статус
                                                .table-check_body
                                                    .table-check_body-row
                                                        // В игре или Не выиграл
                                                        .block-in-game
                                                            .table-check_body-block 000991
                                                            .table-check_body-block 01.01.2017
                                                            .table-check_body-block В игре

                                                    .table-check_body-row
                                                        // Отмена(добавляем класс .cancel)
                                                        .block-cancel-ok.cancel
                                                            .table-check_body-code 001800
                                                            .table-check_body-check-st
                                                                .block-row
                                                                    .block-row_ckeck 01.01.2017
                                                                    .block-row_status Отменен
                                                                .block-row-big
                                                                    .icon
                                                                    .block-row-big_txt Узнать причину отмены:
                                                                    .block-row-big_tel +375172667445


                                                    .table-check_body-row
                                                        // В игре или Не выиграл
                                                        .block-in-game
                                                            .table-check_body-block 002991
                                                            .table-check_body-block 01.01.2017
                                                            .table-check_body-block В игре

                                                    .table-check_body-row
                                                        // Отмена(добавляем класс .ok)
                                                        .block-cancel-ok.ok
                                                            .table-check_body-code 002992
                                                            .table-check_body-check-st
                                                                .block-row
                                                                    .block-row_ckeck 01.01.2017
                                                                    .block-row_status Выиграл!
                                                                .block-row-big
                                                                    .icon
                                                                    .block-row-big_txt Тут написан выигрыш

                                                    .table-check_body-row
                                                        // В игре или Не выиграл
                                                        .block-in-game
                                                            .table-check_body-block 002993
                                                            .table-check_body-block 01.01.2017
                                                            .table-check_body-block Не выиграл


                        #tab-3.container-content.tabs-content
                            .wrapper-form
                                form.js-form
                                    .wrapper-block-inputs.line-btn
                                        .wrapper-block-inputs_title Личные данные
                                        .block-input-label
                                            label.label Фамилия Имя Отчество
                                            input(data-validation="length  required" type="text" data-validation-length='min3' data-validation-error-msg="Заполните поле").input-box

                                        .block-input-label
                                            label.label E-mail
                                            input(data-validation="email" type="email" data-validation-error-msg="Заполните поле").input-box

                                        .block-input-label
                                            label.label Телефон
                                            input(type="tel" data-validation="custom" data-validation-regexp="^[-0-9()+ ]+$" data-validation-error-msg="Заполните поле").input-box

                                        .block-input-label
                                            label.label Населённый пункт
                                            input(type="text" data-validation="custom required" data-validation-error-msg="Укажите населённый пункт, используя только киррилицу").input-box

                                        .block-input-label.width-block-50
                                            label.label Улица
                                            input(type="text" data-validation="custom required" data-validation-error-msg="Заполните поле").input-box

                                        .block-input-label.width-block-14
                                            label.label Дом
                                            input(type="text" data-validation="custom" data-validation-regexp="^[0-9 ]+$" data-validation-error-msg="&nbsp;").input-box

                                        .block-input-label.width-block-14
                                            label.label Корпус
                                            input(type="text").input-box

                                        .block-input-label.width-block-14
                                            label.label Квартира
                                            input(type="text" data-validation="custom" data-validation-regexp="^[0-9 ]+$" data-validation-error-msg="&nbsp;").input-box

                                    .wrapper-block-inputs
                                        .wrapper-block-inputs_title Изменить пароль

                                        .block-input-label
                                            label.label Новый пароль
                                            input(type="password" data-validation="custom required" data-validation-error-msg="Заполните поле").input-box

                                        .block-input-label
                                            label.label Подтвердить пароль
                                            input(type="password" data-validation="custom required" data-validation-error-msg="Заполните поле").input-box

                                        .box-btn-form
                                            button.btn-form Сохранить





                            // Modal Window
                            .wrapper-form.response(style='display: none;')
                                .wrapper-form
                                    .wrapper-block-inputs
                                        .wrapper-block-inputs_title Спасибо за обращение!
                                        .modal-container_txt
                                            p Ваше сообщение успешно отправлено.