extends _layout

block content
    .container-main
        section.container
            .container-wrapper.row
                .wrapper
                    .title Новости
                    .container-white
                        .container-news.preview-news
                            a(href="new.html").block-news
                                .block-news_img(style="background-image:url('img/news1.png')")
                                .block-news_txt
                                    .block-news_txt-title Розыгрыш рекламной игры «Играй со вкусом» и объявление победителей II-го тура
                                    .block-news_txt-data 26.07.2017

                            a(href="new.html").block-news
                                .block-news_img(style="background-image:url('img/news2.png')")
                                .block-news_txt
                                    .block-news_txt-title Розыгрыш рекламной игры «Играй со вкусом» и объявление победителей II-го тура
                                    .block-news_txt-data 26.07.2017
                            a(href="new.html").block-news
                                .block-news_img(style="background-image:url('img/news1.png')")
                                .block-news_txt
                                    .block-news_txt-title Розыгрыш рекламной игры «Играй со вкусом» и объявление победителей II-го тура
                                    .block-news_txt-data 26.07.2017

                            a(href="new.html").block-news
                                .block-news_img(style="background-image:url('img/news2.png')")
                                .block-news_txt
                                    .block-news_txt-title Розыгрыш рекламной игры «Играй со вкусом» и объявление победителей II-го тура
                                    .block-news_txt-data 26.07.2017