extends _layout

block content
    .container-main
        section.container
            .container-wrapper.row
                .wrapper
                    .title Регистрация
                    .container-tabs
                        .container-tab-btn
                            .tabs-link.current-t(data-tab="tab-1")
                                span Зарегистрироваться
                            .tabs-link(data-tab="tab-2")
                                span Войти
                        #tab-1.container-content.tabs-content.current-t
                            .wrapper-form#registrashion-form
                                form.js-form
                                    .wrapper-block-inputs.line-btn
                                        .wrapper-block-inputs_title Регистрация карты
                                        .wrapper-block-inputs_info-txt Если вы потеряли полученную ранее и зарегистрированную в системе карту, достаточно войти в Ваш личный кабинет и привязать новую карту. При этом присвоенные ранее промо-коды сохранятся.
                                        .container-add
                                            .block-add
                                                .block-input-label
                                                    label.label Номер карты
                                                    a(href="javascript:;" data-fancybox data-src="#info-card").link-popup Что это такое?
                                                    input(type="text" data-validation="custom" data-validation-regexp="^[0-9 ]+$" data-validation-error-msg="Заполните поле").input-box

                                    .wrapper-block-inputs
                                        .wrapper-block-inputs_title Личные данные
                                        .wrapper-block-inputs_info-txt.red-txt Ввод достоверных личных данных - обязательное условие участия в рекламной игре.
                                        .block-input-label
                                            label.label Фамилия Имя Отчество
                                            input(data-validation="length  required" type="text" data-validation-length='min3' data-validation-error-msg="Заполните поле").input-box

                                        .block-input-label
                                            label.label E-mail. <span> (Внимательно проверяйте правильность введенного адреса. В случае ошибки восстановление возможно только по запросу на e-mail службы поддержки)</span>
                                            .wrapper-block-inputs_info-txt-b.red-txt На этот E-mail вам будет выслан Логин и Пароль для входа в кабинет, поэтому внимательно проверяйте правильность введенного адреса.
                                            input(data-validation="email" type="email" data-validation-error-msg="Заполните поле").input-box

                                        .block-input-label
                                            label.label Телефон
                                            input(type="tel" data-validation="custom" data-validation-regexp="^[-0-9()+ ]+$" data-validation-error-msg="Заполните поле").input-box

                                        .block-input-label.tel-checked
                                            label.label Проверка телефона
                                            input(type="text" data-validation="custom" data-validation-error-msg="Заполните поле").input-box.w50
                                            .btn-wrap
                                                a.btn-link-green(href="/#") Выслать КОД


                                        .block-input-label
                                            label.label Населённый пункт
                                            input(type="text" data-validation="custom required" data-validation-error-msg="Укажите населённый пункт, используя только киррилицу").input-box

                                        .block-input-label.width-block-50
                                            label.label Улица
                                            input(type="text" data-validation="custom required" data-validation-error-msg="Заполните поле").input-box

                                        .block-input-label.width-block-14
                                            label.label Дом
                                            input(type="text" data-validation="custom" data-validation-regexp="^[0-9 ]+$" data-validation-error-msg="&nbsp;").input-box

                                        .block-input-label.width-block-14
                                            label.label Корпус
                                            input(type="text").input-box

                                        .block-input-label.width-block-14
                                            label.label Квартира
                                            input(type="text" data-validation="custom" data-validation-regexp="^[0-9 ]+$" data-validation-error-msg="&nbsp;").input-box

                                        .box-check
                                            .input-wrapp.block-check-inline
                                                input.ch(type='checkbox' id='m1' data-validation="required" data-validation-error-msg="Заполните поле")
                                                label(for='m1') Я согласен с правилами игры и безоговорочно принимаю все положения

                                        .wrapper-txt
                                            p Остались вопросы - свяжитесь с нами! <br> Телефоны горячей линии (с 8.00 до 17.00):
                                                br
                                                a(href='callto:+375297471099') +375 29 747 10 99
                                                br
                                                a(href='callto:+375297474112') +375 29 747 41 12

                                            p Контактный e-mail:
                                                br
                                                a(href='mailto:info@promo-kv.by') info@promo-kv.by

                                        .box-btn-form
                                            button.btn-form#btn-registrashion Зарегистрироваться

                            // Modal Window
                            .wrapper-form.response(style='display: none;')
                                .wrapper-form
                                    .wrapper-block-inputs
                                        .btn-close-r
                                        .wrapper-block-inputs_title Данные для входа в личный кабинет высланы на ваш E-mail.
                                        .modal-container_txt
                                            p Для входа в личный кабинет перейдите на вкладку "Войти" и введите полученные на E-mail данные.
                                            p Если вы не получили логин и пароль на почту, значит вы неверно указали E-mail при регистрации. Отправьте запрос с указанием карты и корректного E-mail на почту службы поддержки <a href=mailto:info@promo-kv.by"">info@promo-kv.by</a>

                        #tab-2.container-content.tabs-content
                            .wrapper-form
                                form.js-form
                                    .wrapper-block-inputs
                                        .wrapper-block-inputs_title Войти в личный кабинет
                                        .wrapper-block-inputs_info-txt Если не удается войти по полученному логину и паролю - очистите кэш браузера или попробуйте войти в кабинет через другой браузер.
                                        .block-input-label
                                            label.label E-mail
                                            input(data-validation="email" type="email" data-validation-error-msg="Заполните поле").input-box
                                        .block-input-label
                                            label.label Пароль
                                            input(type="password" data-validation="custom required" data-validation-error-msg="Заполните поле").input-box
                                        .btn-pass Забыли пароль?
                                        .box-btn-form
                                            button.btn-form#btn-entrance(data-src="#login-phone-request" onclick="phoneRequest();") Войти
                            .restore_pass.edit-pass
                                .wrapper-form
                                        .wrapper-block-inputs
                                            .wrapper-block-inputs_title Восстановить пароль
                                            .block-input-label
                                                label.label E-mail, указанный при регистрации
                                                input(data-validation="email" type="email" data-validation-error-msg="Заполните поле").input-box
                                            .btn-pass Авторизоваться
                                            .box-btn-form
                                                button.btn-form#btn-restore-pass Восстановить пароль

                                // Modal Window
                                .wrapper-form.response(style='display: none;')
                                    .wrapper-form
                                        .wrapper-block-inputs
                                            .wrapper-block-inputs_title Спасибо за обращение!
                                            .modal-container_txt
                                                p Ваше сообщение успешно отправлено.